#contenedor{
    width: 779px;
    height: 630px;
    background-color: aquamarine;
    margin: auto auto;
}

#cabecera{
    width: 779px;
    height: 80px;
    background-color: blueviolet;
}
#banner{
    width: 779px;
    height: 150px;
    background-color: lightseagreen;
}
#contenido{
    width: 779px;
    height: 340px;
    background-color: lightyellow;
}
#piepagina{
    width: 779px;
    height: 60px;
    background-color:darkblue;
}